@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-fira-code);

  /* Color palette */
  --color-primary: rgb(98 98 240);
  --color-background: rgb(30 30 30);
  --color-text-main: rgb(159 159 169);
  --color-muted: rgb(75 75 75);
}

/* Base layer for global HTML tag styling */
@layer base {
  h1 {
    @apply text-4xl font-bold text-primary text-center;
  }

  h2 {
    @apply text-2xl font-bold text-primary;
  }

  h3 {
    @apply font-bold text-text-main;
  }

  p {
    @apply text-text-main leading-relaxed;
  }
}

/* WipBanner animation */
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 120s linear infinite;
  }
}
