@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-fira-code);

  /* Color palette */
  --color-primary: rgb(98 98 240);
  --color-background: rgb(30 30 30);
  --color-muted: rgb(75 75 75);
}

/* WipBanner animation */
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 120s linear infinite;
  }
}
